---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import PiePagina from '../components/piePagina.astro';
import Encabezado from '../components/encabezado.astro';
---
<Layout title="Acerca de..">
    <Encabezado />
	<main> 
		<section class="quienes-somos">
			<div class="titulo-principal">
			  <img src="logoAro.png" alt="Logo Quirqui-Tour">
			  <h1>QUIRQUI - TOUR</h1>
			</div>
			<div class="contenido">
			  <h2>QUIENES SOMOS</h2>
			  <p>
				Somos un equipo de estudiantes apasionados por explorar y compartir las maravillas de nuestro país. Hemos creado esta página para brindarte una guía completa sobre los viajes departamentales e interdepartamentales en Bolivia, con un enfoque especial en la riqueza cultural y turística de Oruro. Aquí encontrarás información sobre destinos turísticos, transporte, festividades como el Carnaval de Oruro, y los fascinantes museos de la región.
			  </p>
			  <h2>OBJETIVO</h2>
			  <p>
				La página web está desarrollada para poder orientar y ofrecer información a los turistas y también a personas de nuestro departamento, ofrece una amplia información para que pueda visitar y conocer la historia y costumbres de nuestro departamento, también cuenta con información del transporte interdepartamental y departamental de Oruro y explica las tarifas de cada transporte.
			  </p>
			  <h2>CARACTERÍSTICAS</h2>
			  <p>
				El sitio web “QUIRQUI - TUR” tiene como objeto demostrar a la población en general y poder llegar a los turistas para mostrar los lugares turísticos más importantes como el Carnaval de Oruro, los museos, las rutas interdepartamentales y departamentales, además de tarifas, ofreciendo una información más detallada y óptima sobre los lugares turísticos de Oruro.
			  </p>
			</div>
		</section>
		  
		<section class="equipo-trabajo">
			<h2>EQUIPO DE TRABAJO</h2>
			<div class="miembros">
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Antezana Ledezma</p><p>Ricardo Imanol</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Tester</p>
				<a href="https://github.com/ricardoanteza" target="_blank" ><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Blacutt Rufino</p><p>Alejandro leo</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Sin definir</p>
				<a href="https://github.com/ssionmix11" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Caceres Colque</p><p>Mahylee Priscilla</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Desarrolladora</p>
				<a href="https://github.com/Mahylee" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Choquecallata</p><p>Troncoso Adriana</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Desarrolladora</p>
				<a href="https://github.com/ADICTTT" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Espiritu Lopez </p><p>Edwin</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Sin definir</p>
				<a href="https://github.com/Espiritu-L" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Fernandez Mallcu</p><p>David</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Desarrollador</p>
				<a href="https://github.com/whoisdfm" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Flores Flores</p><p>Jesus Albert</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Desarrollador</p>
				<a href="https://github.com/Jesus-A-Flores" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Flores Valencia</p><p>Gonsalo</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Desarrollador</p>
				<a href="https://github.com/GONSIU" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Garcia Garcia</p><p>Adalid</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Stakeholder</p>
				<a href="https://github.com/Adaco123" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Haricali Fuentes</p><p>Itati Leisel</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Scrum master</p>
				<a href="https://github.com/Adaco123" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Huanca Irahola</p><p>Freddy Fernando</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Desarrolador</p>
				<a href="https://github.com/Fernando-Huanca" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Juaniquina Poka</p><p>Rodrigo</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Desarrollador</p>
				<a href="https://github.com/rodrigoJuani" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Lima condori</p><p>Israel</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Desarrollador</p>
				<a href="https://github.com/israellima03" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Marzana Perez</p><p>Paola Veronica</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Diseño UI/UX</p>
				<a href="https://github.com/Marzana-cyber" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Pacheco Cartagena</p><p>Dana</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Diseño UI/UX</p>
				<a href="https://github.com/Anad65" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Quispe Mamani</p><p>Henry Manuel</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Desarrollador</p>
				<a href="https://github.com/fatalbru" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Sotomayor Beltran</p><p>Carlos Manuel</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Desarrolador</p>
				<a href="https://github.com/CarlosSotomayorCodeJP" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Vasquez Vargas</p><p>Marian Marcela</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Sakeholder</p>
				<a href="https://github.com/Marianmmvv19" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Vincenty Cayo</p><p>Marisela Isabel</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Desarrolladora</p>
				<a href="https://github.com/Marisela2005" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Yucra Calderon</p><p>Jose Albert</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Desarrollador</p>
				<a href="https://github.com/Albert1302" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Zuna Felipez</p><p>Alex Denilson</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Sin definir</p>
				<a href="https://github.com/dezuF" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Mamani Flores</p><p>Saraí Margarita</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Product Owner</p>
				<a href="https://github.com/Rocketrocko" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Cahuana Apaza</p><p>Alvaro</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Sin definir</p>
				<a href="https://github.com/cahalvaro" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Zenteno Ramos</p><p>Dhenis Ronald</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Tester</p>
				<a href="https://github.com/RonaldZenteno" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
		</section>
	</main>
	<PiePagina />  
</Layout>

<style>
	/* Estilo global */
	html, body {
		height: 100%;
		margin: 0;
		overflow-x: hidden;
	}
	
	body {
		background-image: url('fondoAcercaDe.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		color: #333;
		font-family: 'Akshar Light', sans-serif;
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100vh;
	}

	main {
		padding: 20px;
	}

	.titulo-principal {
		background-image: url('fondoTituloAcercaDe.jpg'); 
		background-size: cover; 
		background-position: center;
		padding: 30px 20px;
		display: flex; 
		align-items: center; 
		justify-content: center; 
		gap: 20px; 
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
		border-radius: 10px; 
		text-align: center;
	}

	.titulo-principal img {
		width: 150px; 
		height: auto;
	}

	.titulo-principal h1 {
		font-size: 2.5em;
		margin: 0;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 2px; 
		text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
		color: #FFFFFF; 
	}


	.quienes-somos {
		background-color: rgba(239, 231, 231, 0.7);
		border-radius: 10px;
		padding: 20px;
		margin-bottom: 40px;
	}
	
	.quienes-somos h1 {
		text-align: center;
		font-size: 3em;
		color: #8B4513;
	}
	
	.quienes-somos h2 {
		color: #5A3E1A;
		margin-top: 20px;
	}

	.equipo-trabajo {
		text-align: center; 
		padding: 20px 20px;
		margin-bottom: 40px;
		width: 100%;
		border-radius: 10px;
	}
	
	.equipo-trabajo h2 {
		font-size: 3em;
		color: #8B4513;
		margin-bottom: 30px;
		text-transform: uppercase;
		font-weight: bold;
		text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	}
	
	.miembros {
		display: grid;
		grid-template-columns: repeat(5, 1fr); 
		gap: 20px; 
		justify-content: center; 
		align-items: center; 
		padding: 20px;
	}
	
	.miembro {
		text-align: center;
		width: 70%;
		margin-bottom: 25px;
		border-radius: 20px;
		padding: 20px;
		background-color: #F5F5DC;
		box-shadow: 0px 4px 8px rgba(120, 36, 18, 0.912);
		border: 1px solid #D3D3D3;
		transition: transform 0.3s, box-shadow 0.3s;
	}
	
	.miembro img {
		width: 120px;
		height: 120px;
		border-radius: 50%;
		border: 3px solid #8B4513;
		margin-bottom: 15px;
	}
	
	.miembro p {
		font-size: 1.2em;
		margin: 5px 0;
	}
	.miembro a {
		color: #8B4513;
		font-size: 2.5em;
		text-decoration: none;
		transition: color 0.3s;
	}

	.rol-destacado {
		color: beige;
		background-color: #8B4513;
		padding: 10px 15px;
		border-radius: 10px;
		display: inline-block; 
		font-weight: bold; 
		text-align: center; 
	}


	.miembro:hover {
 		box-shadow: 0px 6px 12px rgba(0, 0, 0, 5);
	}

	.miembro a:hover {
		color: #1a4676;
	}
	</style>
	
