---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import PiePagina from '../components/piePagina.astro';
import Encabezado from '../components/encabezado.astro';
---
<Layout title="Acerca de..">
	<Encabezado />
	<main>   
		<section class="equipo-trabajo">
			<h1>¡CONOCENOS!</h1>
			<div class="miembros">
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Antezana Ledezma</p><p>Ricardo Imanol</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Tester</p>
				<a href="https://github.com/ricardoanteza" target="_blank" ><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Blacutt Rufino</p><p>Alejandro leo</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Sin definir</p>
				<a href="https://github.com/ssionmix11" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Caceres Colque</p><p>Mahylee Priscilla</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Desarrolladora</p>
				<a href="https://github.com/Mahylee" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Choquecallata</p><p>Troncoso Adriana</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Desarrolladora</p>
				<a href="https://github.com/ADICTTT" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Espiritu Lopez </p><p>Edwin</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Sin definir</p>
				<a href="https://github.com/Espiritu-L" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Fernandez Mallcu</p><p>David</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Desarrollador</p>
				<a href="https://github.com/whoisdfm" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Flores Flores</p><p>Jesus Albert</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Desarrollador</p>
				<a href="https://github.com/Jesus-A-Flores" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Flores Valencia</p><p>Gonsalo</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Desarrollador</p>
				<a href="https://github.com/GONSIU" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Garcia Garcia</p><p>Adalid</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Stakeholder</p>
				<a href="https://github.com/Adaco123" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Haricali Fuentes</p><p>Itati Leisel</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Scrum master</p>
				<a href="https://github.com/Adaco123" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Huanca Irahola</p><p>Freddy Fernando</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Desarrolador</p>
				<a href="https://github.com/Fernando-Huanca" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Juaniquina Poka</p><p>Rodrigo</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Desarrollador</p>
				<a href="https://github.com/rodrigoJuani" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Lima condori</p><p>Israel</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Desarrollador</p>
				<a href="https://github.com/israellima03" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Marzana Perez</p><p>Paola Veronica</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Diseño UI/UX</p>
				<a href="https://github.com/Marzana-cyber" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Pacheco Cartagena</p><p>Dana</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Diseño UI/UX</p>
				<a href="https://github.com/Anad65" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Quispe Mamani</p><p>Henry Manuel</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Desarrollador</p>
				<a href="https://github.com/fatalbru" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Sotomayor Beltran</p><p>Carlos Manuel</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Desarrolador</p>
				<a href="https://github.com/CarlosSotomayorCodeJP" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Vasquez Vargas</p><p>Marian Marcela</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Sakeholder</p>
				<a href="https://github.com/Marianmmvv19" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Vincenty Cayo</p><p>Marisela Isabel</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Desarrolladora</p>
				<a href="https://github.com/Marisela2005" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Yucra Calderon</p><p>Jose Albert</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Desarrollador</p>
				<a href="https://github.com/Albert1302" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Zuna Felipez</p><p>Alex Denilson</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Sin definir</p>
				<a href="https://github.com/dezuF" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Mamani Flores</p><p>Saraí Margarita</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Product Owner</p>
				<a href="https://github.com/Rocketrocko" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Cahuana Apaza</p><p>Alvaro</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Sin definir</p>
				<a href="https://github.com/cahalvaro" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
			  <div class="miembro">
				<img src="logoAro.png" alt="Miembro del equipo">
				<p>Zenteno Ramos</p><p>Dhenis Ronald</p>
				<p class="rol-destacado">ROL DESTACADO: </p>
				<p>Tester</p>
				<a href="https://github.com/RonaldZenteno" target="_blank"><i class="fa-brands fa-github"></i></a>
			  </div>
		</section>
	</main>
	<PiePagina/>
</Layout>


<style>
	h1 {
		font-size: 3rem; /* Aumenta aún más el tamaño del título */
		color: #A52B2A; /* Color rojo para el texto */
		text-align: center; /* Centra el título */
		margin-top: -150px; /* Ajusta el espacio encima del título */
	}
	/* Estilo global */
	html, body {
		height: 100%;
		margin: 0;
		overflow-x: hidden;
	}
	
	body {
		margin: 0;
      	padding: 0;
        height: 100vh; /* Asegura que ocupa el 100% del alto de la ventana */
	}

	main {
		padding: 5px;
	}

	h1 {
    	margin-top: 0; /* Elimina cualquier margen superior */
    	padding-top: -100px; /* Ajusta la separación con el encabezado */
    	font-size: 3rem; /* Mantén el tamaño del texto */
    	color: #A52B2A; /* Color del texto */
    	text-align: center; /* Centra el título */
	}

	.equipo-trabajo {
		text-align: center; 
		padding: 20px 20px;
		margin-bottom: 40px;
		width: 100%;
		border-radius: 10px;
		margin-top: -50px;
		background: linear-gradient(to top, rgba(65, 84, 107, 0.1), rgba(30,35,38,1)), 
		url('/public/Inicio.jpg');
		align-items: center;
		display: grid;background-size: cover; /* Cubre toda el área */
      	background-position: center; /* Centra la imagen */
      	background-repeat: repeat; /* No repite la imagen */
	}
	
	.equipo-trabajo h2 {
		font-size: 3em;
		color: 335669;
		margin-bottom: 30px;
		text-transform: uppercase;
		font-weight: bold;
		text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	}
	
	.miembros {
		display: grid;
		grid-template-columns: repeat(5, 1fr); 
		gap: 20px; 
		justify-content: center; 
		align-items: center; 
		padding: 20px;
	}
	
	.miembro {
		text-align: center;
		width: 70%;
		margin-bottom: 25px;
		border-radius: 20px;
		padding: 20px;
		background-color: #335669;
		box-shadow: 0px 4px 8px rgba(255, 238, 234, 0.912);
		border: 1px solid #D3D3D3;
		transition: transform 0.3s, box-shadow 0.3s;
	}
	
	.miembro img {
		width: 120px;
		height: 120px;
		border-radius: 50%;
		border: 3px solid #F5ECDD; /* Ya está usando el color #F5ECDD */
		margin-bottom: 15px;
		background-color: #F5ECDD;
	}
		
	.miembro p {
		font-size: 1.2em;
		margin: 5px 0;
		color: #F5ECDD;
	}
	.miembro a {
		color: #F5ECDD;
		font-size: 2.5em;
		text-decoration: none;
		transition: color 0.3s;
	}

	.rol-destacado {
		color: beige;
		background-color: #8B4513;
		padding: 10px 15px;
		border-radius: 10px;
		display: inline-block; 
		font-weight: bold; 
		text-align: center; 
	}
	.miembro:hover {
 		box-shadow: 0px 6px 12px rgba(5, 0, 0, 5);
	}

	.miembro a:hover {
		color: #6d1515;
	}
</style>
	
