---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import PiePagina from '../components/piePagina.astro';
import Encabezado from '../components/encabezado.astro';
---
<Layout title="BUSES">
    <Encabezado />
	<main>
		<h1>BUSES</h1>
	</main>
	<PiePagina />
</Layout>