---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import PiePagina from '../components/piePagina.astro';
import Encabezado from '../components/encabezado.astro';
---
<Layout title="Inicio">
    <Encabezado />
	<main>
		<h1>INICIO</h1>
		<img src="oruroFoto.jpg" alt="">
	</main>
	<PiePagina />
</Layout>
<style>
	img{
		width: 100%;
	}
</style>