---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import PiePagina from '../components/piePagina.astro';
import Encabezado from '../components/encabezado.astro';
---
<Layout title="Destinos Turísticos en Oruro">
  <Encabezado />
  
  <main>
    <h1>Descubre los Destinos de Oruro</h1>
    <section class="destinos-turisticos">
      <div class="header">
        <div class="filters">
          <input type="text" placeholder="Buscar destino..." class="search-input" />
          <button class="search-button">Buscar</button>
        </div>
      </div>

      <div class="cards-container">
        <!-- Museos -->
        <div class="card-wrapper">
          <div class="card-title">MUSEOS</div>
          <div class="card">
            <img src="/Museo.jpg" alt="Imagen Turística 1">
            <h2>NOMBRE</h2>
            <p>Descripción del destino turístico 1.</p>
            <form action="/destinos" method="GET">
              <button>Ver más</button>
            </form>
          </div>
        </div>

        <!-- Plazas -->
        <div class="card-wrapper">
          <div class="card-title">PLAZAS</div>
          <div class="card">
            <img src="/caporales.jpg" alt="Imagen Turística 2">
            <h2>NOMBRE</h2>
            <p>Descripción del destino turístico 2.</p>
            <form action="/destinos" method="GET">
              <button>Ver más</button>
            </form>
          </div>
        </div>
        <!-- Monumentos -->
      <div class="card-wrapper">
        <div class="card-title">MONUMENTOS</div>
        <div class="card">
          <img src="/Museo.jpg" alt="Imagen Turística 1">
          <h2>NOMBRE</h2>
          <p>Descripción del destino turístico 1.</p>
          <form action="/destinos" method="GET">
            <button>Ver más</button>
          </form>
        </div>
      </div>
      <!-- Atractivos turisticos -->
      <div class="card-wrapper">
        <div class="card-title">ATRACTIVOS TURISTICOS</div>
          <div class="card">
            <img src="/Museo.jpg" alt="Imagen Turística 1">
            <h2>NOMBRE</h2>
            <p>Descripción del destino turístico 1.</p>
            <form action="/destinos" method="GET">
              <button>Ver más</button>
            </form>
          </div>
        </div>
      </div>
      

      <div class="bottom-filters">
        <div class="filter-options">
          <select class="filter-select">
            <option value="todos">Todos</option>
            <option value="rural">Rural</option>
            <option value="urbano">Urbano</option>
          </select>
        </div>

        <div class="ad-space">
          <p>¡No te pierdas nuestras promociones!</p>
        </div>
      </div>
    </section>
  </main>
  <PiePagina />
</Layout>

<style>
  :root {
        --cafe: #8B4512;
        --beige: #F5ECDD;
        --verde-musgo: #566B30;
        --rojo-vivo: #A52B2A;
        --azul: #335669;
      }

      main, body {
        background-color: var(--beige);
      }

      main {
        padding: 20px;
      }

      .header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 10px;
      }

      .filters {
        display: flex;
        gap: 10px;
        width: 40%;
      }

      .search-input {
        width: 70%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid var(--cafe);
        border-radius: 5px;
      }

      .search-button {
        width: 25%;
        padding: 10px;
        background-color: var(--azul);
        color: var(--beige);
        cursor: pointer;
        border: 1px solid #213742;
        border-radius: 5px;
      }

      .cards-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
      }

      .card-wrapper {
        width: 25%;
      }

      .card-title {
        font-size: 1.5em;
        color: var(--cafe);
        margin-bottom: 10px;
      }

      .card {
        background-color: #eedbbb;
        border: 1px solid #805e47;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        transition: transform 0.2s;
        width: 100%;
      }

      .card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }

      .card h2 {
        margin: 15px;
        font-size: 1.5em;
      }

      .card p {
        margin: 15px;
        font-size: 1em;
        color: var(--azul);
      }

      .card button {
        padding: 10px 130px;
        background-color: var(--cafe)	;
        color: #f6ecde;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        margin-bottom: 10px;
      }

      .card:hover {
        transform: scale(1.05);
      }

      .bottom-filters {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
      }

      .filter-options {
        flex: 1;
        text-align: center;
      }

      .ad-space {
        width: 200px;
        text-align: center;
        padding: 10px;
        background-color: #f0f0f0;
        border-radius: 8px;
      }

      .filter-select {
        padding: 10px;
        font-size: 16px;
        border-radius: 5PX;
      }

@media (max-width: 1024px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
    .card-wrapper {
        width: 50%;
    }
    .cards-container {
        flex-direction: column;
        align-items: baseline;
    }
    .card {
        width: 80%; 
    }
    .search-button{
        width: 10%; 
    }
    .search-input{
      width: 30%;
    }
    .filters {
        width: 100%;
        flex-direction:unset;
        justify-content: flex-end;
    }
    
    .bottom-filters {
        flex-direction: column;
        align-items: flex-start;
    }

    .ad-space {
        margin-top: 10px;
        margin-left: auto;
    }
}

/* Media Queries para Móviles */
@media (max-width: 768px) {
    .card {
        width: 100%; 
    }
    .card-wrapper {
        width: 60%;
    }
    .search-button{
        width: 30%; 
    }
    .search-input{
      width: 60%;
    }
    .filters {
        width: 100%;
        flex-direction:unset;
        align-items:normal;
    }
    
    .bottom-filters {
        flex-direction: column;
        align-items: flex-start;
    }

    .ad-space {
        margin-top: 10px;
        width: 100%;
    }
}
</style>