---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Quirqui-Tour">
	<header class="navegacion">
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
		/>
		<div class="contenedor-logo">
			<section class="logo seccion">
				<div>
					<img src="/LogoTOUR.svg" alt="" />
				</div>
				<div class="logo-principal">
					<a href="/"><img src="/logo.png" alt="" /></a>
				</div>
				<div>
					<img
						src="/LogoTOUR.svg"
						alt=""
						style="transform: scaleX(-1);"
					/>
				</div>
			</section>
			<section class="navegacion-contenedor seccion">
				<nav class="navbar" id="navbar">
					<input type="checkbox" id="checkbox" />
					<div class="menu">
						<label for="checkbox"></label>
						<img src="close.svg" class="x-icon" alt="" />
						<img src="menu.svg" class="line-icon" alt="" />
					</div>
					<!-- Enlaces de navegación -->
					<ul class="nav-links" id="nav-links">
						<li><a href="/">INICIO</a></li>
						<li><a href="/oruro">ORURO</a></li>
						<li><a href="/infTuristica">INF. TURISTICA</a></li>
						<li>
							<a href="/busesTransporte">BUSES & TRANSPORTE</a>
						</li>
						<li><a href="/carnaval">CARNAVAL</a></li>
						<li><a href="/museos">MUSEOS</a></li>
						<li><a href="/acercaDe">ACERCA DE</a></li>
						<li><a href="/gesContenido">GES. DE CONTENIDO</a></li>
					</ul>
				</nav>
			</section>
		</div>
	</header>
</Layout>
<style>
	/*variable globales*/
	:root {
		--color-primario: #8b4513;
		--color-secundario: #f6c496;
		--negro: #000000;
		--blanco: #0c0c0c;
		--letras: #556b2f;
		--font-Akshar: "Akshar", serif;
		--font-Roboto: "Roboto", serif;
	}
	/*OJO*/
	html,
	body {
		height: 100%;
		margin: 0;
	}

	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	} /*SOLO DEMOSTRACIÓN*/

	/*stylos de la navegacion principal*/

	/*header*/
	.navegacion {
		width: 100%;
		height: 180px;
		position: fixed;
	}
	.contenedor-logo {
		background-color: var(--color-primario);
	}
	.seccion {
		width: 100%;
		height: 100%;
	}

	.navbar {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: fixed;
		font-family: var(--font-Akshar);
		text-align: center;
		background-color: var(--color-secundario);
		height: 55px;
	}

	.logo {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.logo img {
		width: 120px; /* Tamaño del logo */
		height: auto;
		margin-right: 0;
	}

	.nav-links {
		list-style: none;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
		height: 40px;
		padding: 0;
	}

	.nav-links li {
		display: inline-block;
		padding: 0 20px;
	}

	.nav-links a {
		text-decoration: none;
		color: var(--letras);
		font-size: 20px;
		font-weight: 600;
		text-transform: uppercase;
	}

	.nav-links a:hover {
		text-decoration: underline;
		color: var(--negro);
	}
	.menu,
	input {
		display: none;
	}
	@media screen and (max-width: 768px) {
		.nav-links {
			position: absolute;
			flex-direction: column;
			align-items: center;
			gap: 10px;
			top: 40px;
			background: rgba(199, 177, 177, 0.65);
			width: 100%;
			right: 0;
			padding: 0px 0px;
			overflow: hidden;
			transition: 500ms;
			height: 0;
		}
		input:checked ~ .nav-links {
			height: 600%;
		}
		.menu {
			display: block;
			width: 24px;
		}
		.menu label {
			width: 24px;
			height: 24px;
			position: absolute;
			cursor: pointer;
		}
		.x-icon {
			display: none;
		}
		input:checked ~ .menu .line-icon {
			display: none;
		}
		input:checked ~ .menu .x-icon {
			display: block;
		}
	}
	@media screen and (max-width: 920px) {
		.nav-links li {
			display: inline-block;
			padding: 0 10px;
		}
	}

	/*end header*/
</style>
