---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Quirqui-Tour">
	<footer class = "pie-pagina">
		<div class="grupo-1">
			<div class="box">
				<h2>CONTACTO</h2>
				<p>Whatsapp: +591 9999999</p>
				<p>Email: correo@example.com</p>
				<div class="red-social">
					<a href="https://github.com/sis-inf/quirqi-tour/tree/main" class="fab fa-facebook" target="_blank"></a>
					<a href="https://github.com/sis-inf/quirqi-tour/tree/main"class="fab fa-instagram" target="_blank"></a>
					<a href="https://github.com/sis-inf/quirqi-tour/tree/main"class="fab fa-github" target="_blank"></a>
					<a href="https://github.com/sis-inf/quirqi-tour/tree/main"class="fab fa-youtube" target="_blank"></a>
				</div>
			</div>
			<div class="box">
				<figure>
					<a href="#">
						<img src="/logoPie.png" alt="logo quirqui tour">
					</a>
				</figure>
			</div>
			<div class="box">
				<h2>SOBRE NOSOTROS</h2>
				<ul class="nav-linkss" id="nav-linkss">
					<li><a href="/equipTrabajo">Equipo de Trabajo</a></li>
				</ul>
			</div>
		</div>
		<div class="grupo-2">
			<small>&copy;2024 <b>Quirqui-tour</b> - Todos los derechos reservados </small>
		</div>
	</footer>
</Layout>

<style>
	/* PIE DE PAGINA */
	.pie-pagina {
		width: 100%;
		margin-top: auto;
		background-color: #8B4513;
		background-repeat: no-repeat;
	}

	.pie-pagina .grupo-1 {
		align-items: center;
		width: 100%;
		max-width: 1420px;
		margin: auto;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 50px;
		padding: 15px 0px;
		justify-items: center;
		text-align: center;
	}

	.pie-pagina .grupo-1 .box {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.pie-pagina .grupo-1 .box p {
		margin-bottom: 4px;
		margin-left: 0px;
		text-align: center;
		color: #fff;
		font-family: 'Akshar';
		line-height: 0.5;
	}

	.nav-linkss {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	.nav-linkss a {
		text-decoration: none;
		color: #fff;
		font-family: 'Akshar';
		font-size: 20px;
		font-weight: 10;
		text-transform: uppercase;
	}

	.nav-linkss a:hover {
		color: #F6C496;
	}

	.pie-pagina .grupo-1 .box h2{
		color: #F6C496;
		margin-bottom: 0px;
		margin-left: 0px;
		font-family: 'Roboto';
		text-align: center;
		line-height: 1.2;
	}
	.pie-pagina .grupo-1 .box figure img {
		max-width: 170px;
		height: auto;
		display: flex;
		margin-right: 0;
	}


	.pie-pagina .grupo-1 .box .red-social {
		display: flex;
		justify-content: center;
		margin-top: 7px;
	}

	.pie-pagina .grupo-1 .box .red-social a {
		font-size: 36px;
		text-decoration: none;
		width: 45px;
		height: 45px;
		line-height: 45px;
		color: #0f0b07;
		margin: 0 10px;
		background-color: #F6C496;
		text-align: center;
		border-radius: 50%;
		transition: all 300ms ease;
	}

	.pie-pagina .grupo-1 .box .red-social a:hover {
		color: #8B4513;
	}

	.pie-pagina .grupo-2 {
		background:#8b4513 ;
		background-repeat: no-repeat;
		padding: 5px 10px;
		text-align: center;
		color: #fff;
	}

	.pie-pagina .grupo-2 small {
		font-family: 'Akshar';
		font-size: 15px;
	}

	@media screen and (max-width: 768px) {
		.pie-pagina .grupo-1 {
			margin-top: auto;
			width: 100%;
			grid-template-columns: 1fr;
			grid-gap: 0px;
			padding: 15px 0px;
		}
	}

		
</style>
