---
import Layout from '../../layouts/Layout.astro';
import Encabezado from '../../components/encabezado.astro';
---

<Layout title="Cronograma">
    <Encabezado />
    <main>
        <h1 class="title">CRONOGRAMA</h1>

    </main>
</Layout>
<style>


</style>