---
import Layout from '../../layouts/Layout.astro';
import PiePagina from '../../components/piePagina.astro';
import Encabezado from '../../components/encabezado.astro';
---

<Layout title="Cronograma">
    <Encabezado />
    <main>
        
        <div class="cronograma">
            <h1 class="title">CRONOGRAMA</h1>
        <div class="entrada">
            <div class="slider">
                <img src="/RolCarnaval2025.png" alt="Cronograma" >
            </div>
            
            <p>
                Cronograma de entrada
            </p>
        </div>
        <div class="quirqui">
            <img src="/public/logoTOUR1.png" alt="quirqui saludando">
        </div>
        
    </div>
    </main>
    <PiePagina />
</Layout>
<style>
.cronograma{
		flex-direction: column;
		background:radial-gradient( #ffff 10%, #ba9364);
		padding-top: 10px;
		text-align: center;
		justify-content: center;
		height: 120vh; /* Ocupa toda la altura de la ventana */
		
	}
.title {
  color: #a52b2a;
  font-size: 500%;
  font-weight: bold;
  text-align: center;
  font-family: "Castellar", sans-serif;
  
}
.entrada{
    
    height: 200px;
    width: 200px;
    justify-content: center;
    align-items: center;
    padding-left: 10%;

}
entrada img{
    padding-right: 100vh;
    width: 100px;
    height: 200px;
}
.entrada p
{       
		text-align: center; 
		background: #a52b2a;
		display: flex;
		padding: 10px 130px 10px 170px;
		color: white;
		border-radius: 20px;
		font-size: 14px;
		font-weight: bold;
        width: 220px;
        
}
.quirqui
{
    margin-left: 50%;
}


/* Media Queries for Responsive Design */
@media (max-width: 1394px) {
    .title {
        font-size: 300%;
    }
    .cronograma
    {
        flex-direction: column;
        height: auto;
    }
    .entrada {
        
    margin-left: 0;
    align-items: flex-start;
    height: 200px;
    width: 200px;
    padding-left: 20%;    
    }
    .entrada p {
        text-align: center; 
		background: #a52b2a;
		display: flex;
		padding: 10px 130px 10px 170px;
		color: white;
		border-radius: 20px;
		font-size: 14px;
		font-weight: bold;
        width: 220px;
    }
    .quirqui {
        margin-left: 0;
        text-align: center;
        flex-direction: column;
        margin-top: 600px;
    }
    
    .quirqui img{
        width: 200px;
        height: 200px;
    }
}


@media (max-width: 522px) {
    .title {
        font-size: 200%;
    }
    .cronograma {
        height: auto;
        flex-direction: column;
        width: auto;
    }
    .entrada img {
        width: 150%;
        height: 150%;
    }
    .entrada p {
        font-size: 12px;
        text-align: center; 
		background: #a52b2a;
		display: flex;
		padding: 10px 10px 10px 10px;
		color: white;
		border-radius: 20px;
		font-size: 14px;
		font-weight: bold;
        width: 200px;
        
    }
    .quirqui {
        margin-left: 0;
        text-align: center;
        flex-direction: column;
        margin-top: 300px;
    }
  
    .quirqui img{
        width: 200px;
        height: 200px;
    }
}
@media (max-width: 400px) {
    .title {
        font-size: 200%;
    }
    .cronograma {
        height: auto;
        flex-direction: column;
        width: auto;
    }
    .entrada img {
        width: 100%;
        height: 100%;
    }
    .entrada p {
        font-size: 12px;
        text-align: center; 
		background: #a52b2a;
		display: flex;
		padding: 10px 10px 10px 10px;
		color: white;
		border-radius: 20px;
		font-size: 14px;
		font-weight: bold;
        width: 200px;
        
    }
    .quirqui {
        margin-left: 0;
        text-align: center;
        flex-direction: column;
        margin-top: 200px;
    }
  
    .quirqui img{
        width: 200px;
        height: 200px;
    }
}

</style>